@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Great+Vibes&family=Poppins:wght@100&family=Shadows+Into+Light&display=swap');
body {
	color: black;
	text-align: justified;
    font-family: "Inconsolata", monospace;
	width: 75%;
	margin: auto;
	font-size: 17px;
}

hr {
	
	color: #4f568a;
}

a {
	color: #7b32d9;
}


a:hover:not(.page-heading):not(#anylink) {
    color: #ffffff;
    background-color: #1b1b1b;
    text-decoration: none;
    padding: 1px;
    margin: -2px;
}
h6{
	text-align: center;
}

.page-heading {
	text-align: center;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-size: 1.25rem;
}

.footer {
	position: relative;
	width: 100%;
}
.footer i{

	padding: 2px;
	background: none;
}

.content{
    align-content: justified;
    text-align: centre;
    position: relative; 
    width: 80%; 
}

.light{
	font-family: 'Poppins', sans-serif;
    background-color: #A170DB;
	padding: 3px;
	font-size: 19px;
}
.links{
	width: 100px;
	text-align: center;
	font-size: 20px;
}